/* Your app styles here */
@font-face {
  font-family: "Droid Serif";
  src: url("../fonts/DroidSerif-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

a,
.md a,
.ios a {
  color: #65283e;
}

#directorio-dormir a {
  font-weight: bold;
}

a,
.md body,
.ios body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Serif";
  color: #454545;
}

.md .block-title,
.ios .block-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-family: "Droid Serif";
  color: #3f3f3f;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 25px;
}

p {
  padding: 0 10px 20px;
  line-height: 24px;
  font-size: 14px;
}

.img-ppal {
  padding-bottom: 25px;
}

.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

img {
  max-width: 100%;
}

.centrado {
  margin: 0 auto;
  text-align: center;
}
.page-content {
  background: url('../img/fondo.png');
}
.panel-right .page-content,
.panel-left .page-content {
  background: url('../img/fondob.png');
}

.panel-right .page-content a,
.panel-left .page-content a {
    color: #ffffff;

}

.panel-right .page-content ul,
.panel-left .page-content ul {
  list-style: none;
  padding-left: 0;
}

.panel-right .page-content li,
.panel-left .page-content li {
  padding: 15px 0 15px 25px;
  border-bottom: 1px solid #bd9aa7;
}

.md .toolbar,
.md .navbar,
.md .button.button-active,
.md .button.button-fill,
.md .button.button-fill-md,
.md .button.tab-link-active,
.ios .toolbar,
.ios .navbar,
.ios .button.button-active,
.ios .button.button-fill,
.ios .button.button-fill-md,
.ios .button.tab-link-active {
  background-color: #65283e;
  color: #ffffff;
}

.md .button.button-active.active-state,
.md .button.button-fill-md.active-state,
.md .button.button-fill.active-state,
.md .button.tab-link-active.active-state,
.ios .button.button-active.active-state,
.ios .button.button-fill-md.active-state,
.ios .button.button-fill.active-state,
.ios .button.tab-link-active.active-state {
  background: #c52c64;
}

.md .item-content.item-link,
.ios .item-content.item-link {
  display: block;
  max-width: 225px;
  margin: 10px auto;
  background-color: #65283e;
  color: #ffffff;
  padding: 0 0px 0 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

.cata-list {
  border: none;
}

.md .list.cata-list ul:before,
.md .list.cata-list ul:after,
.ios .list.cata-list ul:before,
.ios .list.cata-list ul:after {
  content: none;
}

#directorio-bodegas .cata-boton {
  width: 100%;
  height: auto;
  margin: 2%;
  padding: 0;
  line-height: 0;
  padding: 0% 2%; 
}

.popup.popup-bodegas img {
  border: 1px solid #ddd;
  padding: 1%;
}

.popup.popup-bodegas p {
  padding-bottom: 0;
}

.popup.popup-bodegas a.external {
  color: #65283e;
  font-weight: bold;
}

.popup .bodegas-sociales {
  padding-top: 25px;
}

.popup .bodegas-sociales a.external {
  color: #454545;
  font-weight: bold;
  padding-right: 48px;
}

.popup .bodegas-sociales .fab {
  font-size: 32px;
}

.cata-ptop {
  padding-top: 25px;
}

.bloque-hotel {
  width: 48%;
  padding: 0;
  margin: 1%;
  background-color: #dddddd;
  float: left;
}

.bloque-hotel .cata-hotel {
  text-align: center;
  margin-top: 10px;
}

.bloque-hotel h3 {
  font-size: 14px;
  margin: 0 0 8px 0;
  padding-left: 5px;
}

.bloque-hotel p {
  font-size: 12px;
  padding: 0 0 0 8px;
  margin: 0;
}

.bloque-hotel .hparrafos {
  min-height: 75px;
}

.hotel-imagen {
  position: relative;
}

.ciudad-hoteles {
  clear: both;
  float: none;
  padding-top: 25px;
  text-align: center;
}

.ciudad-hoteles h3 {
  border-bottom: 1px solid #454545;
  margin-bottom: 10px;
}

.ciudad-distancia {
  text-align: center;
  margin-bottom: 15px;
}

.accommodation-rating {
  position: absolute;
  bottom: 5px;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}

.accommodation-rating span.hotel-fas {
  background-color: #65283e;
  padding: 1px 12px 2px;
}

.cata-hotel a {
  background-color: #65283e;
  padding: 3px 6px;
  color: #ffffff;
  font-size: 12px;
}

.accommodation-rating .fas,
.accommodation-rating .far {
  color: #ffffff;
  font-size: 10px;
}

.clear {
  clear: both;
}

.bloque-chefs {
  text-align: center;
  background-color: #dddddd;
  margin: 15px 0 50px;
  padding-bottom: 15px;
}

.chef-web a {
  background-color: #65283e;
  color: #ffffff;
  font-size: 16px;
  margin-top: 15px;
  padding: 12px 15px;
}

.fondo-blanco {
  background-color: #fff;
}

.fondo-blanco img {
  border: none;
}

.bloque-vino {
  margin-bottom: 50px;
}

.bloque-vino .button {
  max-width: 200px;
  margin: 10px auto;
  white-space: normal;
  text-overflow: inherit;
  line-height: 20px;
  padding: 6px;
  height: auto;
}

.bloque-jornada {
  background-color: #dddddd;
  padding-top: 20px;
  margin: 50px 0;
}

.bloque-jornada p {
  text-align: center;
  font-size: 18px;
  padding: 0;
  margin: 12px 0;
}

.bloque-jornada a {
  text-align: center;
  width: 100%;
  display: block;
  /* font-weight: bold; */
  font-size: 18px;
  padding: 20px 0 14px;
}

.foto-vertical {
  max-width: 260px;
  margin: 0 auto;
  display: block;
}

.popup-jornadas h3 {
  font-size: 20px;
  color: #65283e;
}

.popup-jornadas h4 {
  color: #65283e;
}

.popup-jornadas .jornada-p {
  font-size: 18px;
}

.popup-jornadas img {
  padding-top: 20px;
}

.popup-jornadas p {
  padding-bottom: 5px;
}

.popup-jornadas ul {
  padding-left: 15px;
}

.popup-jornadas ul ul {
  padding-left: 20px;
}

.popup-jornadas li {
  padding: 2px 0;
}

.popup-jornadas .popup-close {
  font-style: italic;
}

.popup-jornadas ul.listado-profesional {
  padding: 0;
  list-style: none;
}

.popup-jornadas .listado-profesional .lp-hora {
  display: block;
  float: left;
  width: 90px;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  padding-top: 2px;
}

.popup-jornadas .listado-profesional .lp-texto {
  display: block;
  margin-left: 95px;
}

.popup-jornadas .listado-profesional li {
  padding: 5px 0;
}

.custom-accordion .icon-minus,
.custom-accordion .icon-plus {
  font-size: 18px;
  border: 1px solid #454545;
  border-radius: 100%;
  display: inline-block;
  width: 18px;
  text-align: center;
  line-height: 18px;
  margin-right: 3px;
  vertical-align: middle;
}

.custom-accordion .icon-minus {
  padding-bottom: 3px;
  line-height: 15px;
}
  
.custom-accordion .icon-minus {
  display: none;
}

.custom-accordion .accordion-item-opened .icon-minus {
  display: inline-block;
}

.custom-accordion .accordion-item-opened .icon-plus {
  display: none;
}

.custom-accordion .accordion-item-opened .accordion-item-toggle span {
  font-weight: bold;
  color: #65283e;
}

.custom-accordion .accordion-item {
  margin: 10px 0;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 10px;
}

.custom-accordion p {
  margin-bottom: 0;
}

.custom-accordion .accordion-item-content p {
  font-size: 12px;
  line-height: 20px;
  padding: 0 0 5px 5px;
}

#llegar .fas {
  padding-right: 10px;
}

#llegar-tipo p {
  padding-bottom: 0;
}

#llegar-tipo h3 {
  padding-bottom: 0;
  color: #65283e;
}

.avion ul {
  padding-left: 10px;
}

.avion .saltoem {
  display: block;
  padding-top: 5px;
}

.avion li,
ul.coche li {
  padding-bottom: 25px;
}

.autobus p {
  padding: 0;
}

.autobus em {
  font-size: 12px;
  line-height: 18px;
  display: block;
}

.autobus li {
  padding: 10px 0;
}

.autobus h3 {
  margin-top: 50px;
}

.uva-1 {
  display: inline-block;
  background: url("../img/ocupacion/1-uvas.svg") no-repeat;
  background-size: auto auto;
  width: 100px;
  height: 25px;
  background-size: 100px 25px;
  vertical-align: bottom;
}
.uva-2 {
  display: inline-block;
  background: url("../img/ocupacion/2-uvas.svg") no-repeat;
  background-size: auto auto;
  width: 100px;
  height: 25px;
  background-size: 100px 25px;
  vertical-align: bottom;
}
.uva-3 {
  display: inline-block;
  background: url("../img/ocupacion/3-uvas.svg") no-repeat;
  background-size: auto auto;
  width: 100px;
  height: 25px;
  background-size: 100px 25px;
  vertical-align: bottom;
}
.uva-4 {
  display: inline-block;
  background: url("../img/ocupacion/4-uvas.svg") no-repeat;
  background-size: auto auto;
  width: 100px;
  height: 25px;
  background-size: 100px 25px;
  vertical-align: bottom;
}

.nombre-ocupacion {
  display: inline-block;
  width: 160px;
  font-size: 16px;
}

.lista-ocupacion ul {
  list-style: none;
  padding-left: 0;
}

.lista-ocupacion li {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.lista-ocupacion li:first-child {
  border-top: 1px solid #dddddd;
}

.titulo-leyenda {
  padding-bottom: 0;
  margin-bottom: 0;
  font-style: italic
}

.leyenda-ocupacion li {
  padding: 5px 0;
}

a.actualizar-estado {
  display: block;
  margin: 20px auto;
  width: 150px;
  background-color: #65283e;
  color: #fff;
  text-align: center;
  padding: 8px 0px;
}

.informacion {
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 4px;
  height: 40px;
}

.chef-web > a {
  display: block;
  margin: 15px auto 5px;
  max-width: 180px;
}

.botella-grande {
  max-width: 30%;
  margin: 0 auto;
}

.redes-sociales {
  margin-bottom: 50px;
}

.redes-sociales .fab {
  font-size: 32px;
  position: relative;
  text-align: center;
  width: 100%;
}

.popup.popup-bodegas .botella-grande img {
  border: none;
}

.ios .right .icon.material-icons,
.ios .left .icon.material-icons {
  color: #ffffff;
}

.ios .tabbar a,
.ios .tabbar-labels a {
  color: #ca8fa4;
}   

.ios .tabbar a.tab-link-active,
.ios .tabbar-labels a.tab-link-active {
  color: #ffffff;
}

.ios .navbar-inner {
  background-color: #65283e;
}

.ios .list ul {
  background-color: transparent;
}

.ios .navbar .left {
  margin-right: 20px;
}

.ios .navbar .right {
  margin-right: 0px;
}


.ios .navbar .left i.material-icons,
.ios .navbar .right i.material-icons {
  margin-left: -30px;
}


.ios .icon-back, .ios .icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23ffffff'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E");
}

.ios .navbar .title {
  display: block;
  width: 100%;
  text-align: left;
}

.ios .navbar .right a.popup-close {
  color: #ffffff;
}

.ios .button {
  line-height: 28px;
  height: 36px;
}

.recuerda {
  padding: 5px;
  border: 1px solid #cccccc;
  margin-top: 20px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 4px;
}

.recuerda p {
  padding: 0;
  margin: 0 0 10px;
}

.hastag a {
  text-align: center;
  display: block;
  margin: 0 auto 20px;
  font-size: 18px;
}

.patrocinios img {
  max-width: 125px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.block-title.peque {
  font-size: 14px;
}
  
.popup-jornadas li.pt20 {
  padding-top: 10px;
}

h5 {
  color: #65283e;
  font-size: 14px;
  margin: 0 10px 0 0;
}

.actividad {
  color: #000000;
}